*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: antiquewhite;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(22, 19, 19);
}
.button{
    text-decoration: none;
    border: 2px solid antiquewhite;
    border-radius: 30px;
    padding: 1.5em 4rem;
    background: black;
    position: relative;
    overflow: hidden;
    font-weight:bold;
    font-size: large;
    transition: all 1s;
}
.button:before{
    content: "DOWNLOAD";
    font-weight: bold;
    color:black;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: antiquewhite;
    transform: translateY(-100%);
    transition: all 1s;
    display:flex;
    justify-content: center;
    align-items: center;
}
.button:hover:before{
    transform: translateY(0);
}